/* 文字渐变 */
:root {
  --vp-home-hero-name-color: transparent;
}

.VPHero .name {
  background: -webkit-linear-gradient(315deg, #0052d4, #4364f7, #6fb1fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 图片背景 */
:root {
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  
  --vp-home-hero-image-filter: blur(72px);
}

.dark {
  --vp-home-hero-image-filter: blur(96px);
}